@model HawkerSearch.Web.Models.SearchViewModel

@{
    ViewData["Title"] = "Hawker Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Search for Hawkers</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CurrentLatitude" class="control-label"></label>
                <input asp-for="CurrentLatitude" class="form-control" />
                <span asp-validation-for="CurrentLatitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentLongitude" class="control-label"></label>
                <input asp-for="CurrentLongitude" class="form-control" />
                <span asp-validation-for="CurrentLongitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
                @if (Model.ShowResults)
                {
                    <button id="reset-button" type="button" value="Reset" class="btn btn-secondary">Reset</button>
                }
            </div>
        </form>
    </div>
</div>

@if (Model.ShowResults)
{
    @await Html.PartialAsync("_ResultListPartial", Model)
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(function() {
            $("#reset-button").click(function() {
                window.location.replace('search/index');
                console.log('reset clicked')
            });
        })
    </script>
}
