@model HawkerSearch.Web.Models.SearchViewModel

@{
    ViewData["Title"] = "Hawker Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Results</h1>

<hr />
<div class="row">
    <input type="button" value="Reset" onclick="location.href='@Url.Action("index","search")'" />
    @*<button id="reset-button" type="button" value="Reset" asp-action="Index" asp-controller="Search" class="btn btn-secondary">Reset</button>*@
</div>

@await Html.PartialAsync("_ResultListPartial", Model)

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        //$(function() {
        //    $("#reset-button").click(function() {
        //        console.log('reset clicked')
        //        $.ajax({
        //            url: 'index',
        //            method: 'GET'
        //        });
        //    });
        //})
    </script>
}
